<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="'/'">Chat App</a>
  
  <ul class="navbar-nav ml-auto">
    <li *ngIf="isLoggedIn" class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Account
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <span class="dropdown-item">Welcome {{username}}</span>
        <a class="dropdown-item" style="cursor: pointer" (click)="logout()">Logout</a>
      </div>
    </li>
  </ul>
  
  <form class="form-inline">
    <button *ngIf="!isLoggedIn" class="btn btn-sm btn-outline-secondary" type="button"
    [routerLink]="'/auth'">Login</button>
  </form>
</nav>

<router-outlet></router-outlet>
